@{
    ViewData["Title"] = "Cadastro";
}



<div class="p-3 mb-2 bg-primary text-white">
<h1>Cadastro</h1>
    
</div>




<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<label for="inputPassword5" class="form-label">Password</label>
<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
<div id="passwordHelpBlock" class="form-text">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nome</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Seu nome: ">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Sobrenome</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Seu sobrenome: ">
</div>
<select class="form-select form-select-lg mb-3" aria-label="Large select example">
  <option selected>Genero</option>
  <option value="1">Masculino</option>
  <option value="2">Feminino</option>
  <option value="3">Outros</option>
</select>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">CEP</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Seu CEP: ">
</div>
<select class="form-select form-select-lg mb-3" aria-label="Large select example">
  <option selected>Pais</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="3">Four</option>
</select>
<select class="form-select form-select-lg mb-3" aria-label="Large select example">
  <option selected>Estado</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="3">Four</option>
</select>
<select class="form-select form-select-lg mb-3" aria-label="Large select example">
  <option selected>Cidade</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="3">Four</option>
</select>
<select class="form-select form-select-lg mb-3" aria-label="Large select example">
  <option selected>Estado</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="3">Four</option>
</select>
<select class="form-select form-select-lg mb-3" aria-label="Large select example">
  <option selected>Estado Civil</option>
  <option value="1">Solteiro</option>
  <option value="2">Casado</option>
  <option value="3">Divorciado</option>
  <option value="3">Viúvo</option>
</select>
